In [282]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1684,tt0467406,7500000,231411584,Juno,Ellen Page|Michael Cera|Jennifer Garner|Jason ...,Jason Reitman,A comedy about growing up... and the bumps alo...,A young girl named Juno gets herself pregnant ...,96,Comedy|Drama|Romance,Fox Searchlight Pictures|Mandate Pictures,12/5/2007,6.9,2007
1394,tt0430308,40000000,46442528,Get Rich or Die Tryin',50 Cent|Joy Bryant|Adewale Akinnuoye-Agbaje|Om...,Jim Sheridan,If You Think You Know the Story...You Don't Kn...,A tale of an inner city drug dealer who turns ...,117,Drama,Paramount Pictures|MTV Films|Cent Productions ...,11/9/2005,6.5,2005
1164,tt0316465,32000000,52277485,Radio,Cuba Gooding Jr.|Ed Harris|Alfre Woodard|S. Ep...,Mike Tollin,His courage made them champions.,"Football coach Harold Jones befriends Radio, a...",109,Drama,Revolution Studios|Tollin/Robbins Productions,10/24/2003,7.1,2003
992,tt1386703,125000000,198802074,Total Recall,Colin Farrell|Kate Beckinsale|Jessica Biel|Bry...,Len Wiseman,What Is Real?,"Welcome to Rekall, the company that can turn y...",121,Action|Science Fiction|Adventure|Thriller,Columbia Pictures,8/2/2012,5.8,2012
711,tt0805570,15000000,3533227,The Midnight Meat Train,Bradley Cooper|Vinnie Jones|Brooke Shields|Les...,RyÃ»hei Kitamura,The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,Mystery|Drama|Crime|Thriller|Horror,Lions Gate Films|Lakeshore Entertainment|Green...,8/7/2008,5.7,2008

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [190]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
 15  month                 1889 non-null   int64
dtypes: float64(1), int64(6), object(9)
memory usage: 236.2+ KB

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [189]:
#data['profit'] = data #profit = revenue - budget
data['profit'] = data.revenue - data.budget # add column 'profit' 
data['month'] = data.release_date.str.split('/').apply(lambda x: int(x[0])) # add column 'month'

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [8]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [9]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' #+

In [11]:
data[data['runtime'] == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
data[data['runtime'] == data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [13]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' #+

# 4. Какова средняя длительность фильмов?

In [14]:
round(data['runtime'].mean())

110

In [15]:
answers['4'] = '2. 110' #+

# 5. Каково медианное значение длительности фильмов?

In [16]:
round(data['runtime'].median())

107

In [17]:
answers['5'] = '1. 107' #+

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [19]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [20]:
data[data['profit'] == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [21]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
len(data[data['profit'] > 0])

1478

In [23]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
data_2008 = data[data['release_year'] == 2008]
data_2008[data_2008['profit'] == data_2008['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [25]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
data_sample = data[(data['release_year']>=2012) & (data['release_year']<=2014)]
data_sample[data_sample['profit'] == data_sample['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [27]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [28]:
genres_df = data.copy()
genres_df.genres = genres_df.genres.str.split('|')
genres_df = genres_df.explode('genres')
genres_df.genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [29]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [30]:
answers['11'] = '3. Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
pd.Series(data[data['profit'] > 0].genres.str.cat(sep='|').split('|')).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [32]:
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
director_df = data.copy()
director_df.genres = director_df.director.str.split('|')
director_df = director_df.explode('director')
director_df.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head()

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

In [34]:
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [75]:
full_df = data.copy()
full_df.director = full_df.director.str.split('|')
full_df = full_df.explode('director')
full_df.genres = full_df.genres.str.split('|')
full_df = full_df.explode('genres')
#full_df[full_df['genres'] == 'Action'].info()
full_df = full_df.pivot_table(values=['revenue'],
index=['genres'],
columns=['director'],
aggfunc='count')
full_df.iloc[0].sort_values(ascending=False)

         director
revenue  Robert Rodriguez      9.0
         Paul W.S. Anderson    7.0
         Michael Bay           7.0
         Ridley Scott          6.0
         Antoine Fuqua         6.0
                              ...
         William Monahan       NaN
         Wong Kar-wai          NaN
         Woody Allen           NaN
         Xavier Palud          NaN
         Zal Batmanglij        NaN
Name: Action, Length: 997, dtype: float64

In [74]:
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [84]:
full_df = data.copy()
full_df.cast = full_df.cast.str.split('|')
full_df = full_df.explode('cast')
full_df = full_df[full_df['release_year'] == 2012]
full_df[full_df['revenue'] == full_df['revenue'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910
970,tt0848228,220000000,1519557910,The Avengers,Chris Evans,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910
970,tt0848228,220000000,1519557910,The Avengers,Mark Ruffalo,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910
970,tt0848228,220000000,1519557910,The Avengers,Chris Hemsworth,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910
970,tt0848228,220000000,1519557910,The Avengers,Scarlett Johansson,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910

In [85]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [109]:
full_df = data.copy()
full_df.cast = full_df.cast.str.split('|')
full_df = full_df.explode('cast')
full_df = full_df[full_df['budget'] > full_df['budget'].mean()]
full_df['cast'].value_counts()

Matt Damon              18
Adam Sandler            17
Angelina Jolie          16
Eddie Murphy            15
Tom Cruise              15
                        ..
Estella Warren           1
Kathryn Hahn             1
Danny DeVito             1
Dakota Blue Richards     1
David McCullough         1
Name: cast, Length: 1505, dtype: int64

In [110]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [113]:
full_df = data.copy()
full_df.cast = full_df.cast.str.split('|')
full_df = full_df.explode('cast')
full_df = full_df[full_df['cast'] == 'Nicolas Cage']
full_df.genres = full_df.genres.str.split('|')
full_df = full_df.explode('genres')
full_df['genres'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

In [114]:
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [127]:
full_df = data.copy()
full_df.production_companies = full_df.production_companies.str.split('|')
full_df = full_df.explode('production_companies')
full_df[full_df['production_companies'] == 'Paramount Pictures'].sort_values('profit').head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures,11/26/2003,5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures,4/24/2007,5.9,2007,-51788987

In [128]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [202]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [130]:
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [155]:
full_df = data.copy()
full_df.production_companies = full_df.production_companies.str.split('|')
full_df = full_df.explode('production_companies')
full_df = full_df[full_df['production_companies'].str.contains('Warner Bros')]
full_df.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

In [156]:
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [203]:
data.groupby(['month'])['imdb_id'].nunique().sort_values(ascending=False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

In [204]:
answers['21'] = '4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [213]:
len(data[(data['month'] > 5) & (data['month'] < 9)])

450

In [214]:
answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [237]:
full_df = data.copy()
full_df.director = full_df.director.str.split('|')
full_df = full_df.explode('director')
full_df = full_df.query('month in [1, 2, 12]')
full_df.groupby(['director'])['imdb_id'].nunique().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: imdb_id, Length: 358, dtype: int64

In [238]:
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [245]:
full_df = data.copy()
full_df.production_companies = full_df.production_companies.str.split('|')
full_df = full_df.explode('production_companies')
full_df['len_title'] = full_df.original_title.apply(lambda x: len(x))
full_df.groupby(['production_companies'])['len_title'].max().sort_values(ascending=False)

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: len_title, Length: 1771, dtype: int64

In [246]:
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [248]:
full_df = data.copy()
full_df.production_companies = full_df.production_companies.str.split('|')
full_df = full_df.explode('production_companies')
full_df['len_overview'] = full_df.overview.apply(lambda x: len(x.split()))
full_df.groupby(['production_companies'])['len_overview'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: len_overview, Length: 1771, dtype: float64

In [249]:
answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [274]:
full_df = data.copy()
full_df = full_df.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False).reset_index()
full_df.head(15)

                                   original_title  vote_average
0                                 The Dark Knight           8.1
1                              The Imitation Game           8.0
2                                      Inside Out           8.0
3                                    Interstellar           8.0
4                                            Room           8.0
5                        The Grand Budapest Hotel           7.9
6                                     The Pianist           7.9
7                         Guardians of the Galaxy           7.9
8                                         Memento           7.9
9                         The Wolf of Wall Street           7.9
10                                      Inception           7.9
11                                      Gone Girl           7.9
12                               12 Years a Slave           7.9
13  The Lord of the Rings: The Return of the King           7.9
14                                      Prisoners           7.8

In [275]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [286]:
cast_pair = [] 
for cast in data.cast.str.split('|'):
    cast_pair.extend(list(combinations(cast, 2)))
cast_pair_s = pd.Series(cast_pair).value_counts()
cast_pair_s

(Daniel Radcliffe, Rupert Grint)             8
(Daniel Radcliffe, Emma Watson)              8
(Rupert Grint, Emma Watson)                  7
(Ben Stiller, Owen Wilson)                   6
(Johnny Depp, Helena Bonham Carter)          6
                                            ..
(David Wenham, Bryan Brown)                  1
(Samuel L. Jackson, John Patrick Amedori)    1
(Naomi Watts, Tim Roth)                      1
(Anna Faris, Kat Dennings)                   1
(Albert Finney, Cherry Jones)                1
Length: 18121, dtype: int64

In [287]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

# Submission

In [288]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [289]:
# и убедиться что ни чего не пропустил)
len(answers)

27